.header{
    background-color :rgb(12, 12, 12);
    display : flex;
    justify-content: space-between;
}

.panda{
    display : flex;
    color:rgb(59, 6, 252)
}

.panda-text{
    display: flex;
    justify-content: space-between;
    color:magenta
}

.chameleon{
    display : flex;
    color:red
}

.chameleon-text{
    display: flex;
    justify-content: space-between;
    color:rgb(13, 36, 243)
}

.cicada{
    display : flex;
    color:black
}

.cicada-text{
    display: flex;
    justify-content: space-between;
    color:red
}

.pigeon{
    display : flex;
    color:brown
}

.pigeon-text{
    display: flex;
    justify-content: space-between;
    color:black
}

.teddy{
    display : flex;
    color:magenta
}

.teddy-text{
    display: flex;
    justify-content: space-between;
    color:brown
}

.camel{
    display : flex;
    color:rgb(19, 18, 18)
}

.camel-text{
    display: flex;
    justify-content: space-between;
    color:rgb(0, 68, 255)
}

    h1{
        text-align: center;
        margin-left: 30px;
        color : rgb(9, 66, 252)
}

body{
    background: blue;
    color: whitesmoke;
}

